<section class="bg-main-light rounded-3 w-75 mx-auto p-3">
  <h1 class="popular mx-auto mb-3">Forget Password</h1>
  <form
    *ngIf="!virfycode"
    [formGroup]="forgetPassword"
    (ngSubmit)="switchToVirfyCode()"
  >
    <div class="mb-2">
      <label for="email">Email :</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control mb-1"
        #emailInput
      />
      <div
        class="alert alert-danger"
        *ngIf="
          forgetPassword.get('email')?.errors &&
          (forgetPassword.get('email')?.touched || emailInput.value.length > 0)
        "
      >
        <p
          class="text-capitalize"
          *ngIf="forgetPassword.get('email')?.getError('required')"
        >
          Email is reqired
        </p>
        <p
          class="text-capitalize"
          *ngIf="forgetPassword.get('email')?.getError('email')"
        >
          email is not valid
        </p>
      </div>
    </div>

    <button
      [disabled]="forgetPassword.invalid"
      class="btn-main me-auto d-block"
    >
      <i *ngIf="spinner" class="fas fa-spinner fa-spin"></i>
      Submit
    </button>
  </form>
  <form *ngIf="virfycode" [formGroup]="code" (ngSubmit)="submitCode()">
    <p>{{ minutes }}</p>
    <div class="mb-2">
      <label for="email">code :</label>
      <input
        id="email"
        formControlName="resetCode"
        type="email"
        class="form-control mb-1"
        #emailInput
      />
      <div
        class="alert alert-danger"
        *ngIf="
          forgetPassword.get('resetCode')?.errors &&
          (forgetPassword.get('resetCode')?.touched ||
            emailInput.value.length > 0)
        "
      >
        <p
          class="text-capitalize"
          *ngIf="forgetPassword.get('resetCode')?.getError('required')"
        >
          Email is reqired
        </p>
      </div>
    </div>

    <button
      [disabled]="forgetPassword.invalid"
      class="btn-main me-auto d-block"
    >
      <i *ngIf="spinner" class="fas fa-spinner fa-spin"></i>
      Submit
    </button>
  </form>
</section>
