<section class="bg-main-light rounded-3 w-75 mx-auto p-3">
  <h1 class="popular mx-auto mb-3">Login</h1>
  <form [formGroup]="changeForgetenData" (ngSubmit)="submitForm()">
    <div class="mb-2">
      <label for="email">Email :</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control mb-1"
        #emailInput
      />
      <div
        class="alert alert-danger"
        *ngIf="
          changeForgetenData.get('email')?.errors &&
          (changeForgetenData.get('email')?.touched ||
            emailInput.value.length > 0)
        "
      >
        <p
          class="text-capitalize"
          *ngIf="changeForgetenData.get('email')?.getError('required')"
        >
          Email is reqired
        </p>
        <p
          class="text-capitalize"
          *ngIf="changeForgetenData.get('email')?.getError('email')"
        >
          email is not valid
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="password">password :</label
      ><input
        id="password"
        formControlName="newPassword"
        type="password"
        class="form-control mb-1"
        #passwordInput
      />
      <div
        class="alert alert-danger"
        *ngIf="
          changeForgetenData.get('newPassword')?.errors &&
          (changeForgetenData.get('newPassword')?.touched ||
            passwordInput.value.length > 0)
        "
      >
        <p
          class="text-capitalize"
          *ngIf="changeForgetenData.get('password')?.getError('required')"
        >
          newPassword is reqired
        </p>
        <p
          class="text-capitalize"
          *ngIf="changeForgetenData.get('password')?.getError('pattern')"
        >
          newPassword is not valid
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-between w-100 align-items-center">
      <button
        [disabled]="changeForgetenData.invalid"
        class="btn-main me-auto d-block"
      >
        <i *ngIf="spinner" class="fas fa-spinner fa-spin"></i>
        Submit
      </button>
      <a
        routerLink="/ForgetPassword"
        class="text-decoration-underline text-primary"
        >Forget Password</a
      >
    </div>
  </form>
</section>
